@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-[slate-100] text-[#242526] dark:bg-[#1c1c1c] dark:transition-all dark:text-slate-50 w-full h-screen;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #151617 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	@apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
	@apply bg-[#4338ca] dark:bg-[#4338ca];
	border-radius: 16px;
}